<h2>Applying for <%= @job.title %></h2>
<h4>at</h4>
<h3><%= @job.company %></h3>

<%= form_for(@application) do |f| %>
  <%= f.text_area :cover_letter, class: 'form-control', placeholder: @application.errors.any? ? display_error_message(@application, :cover_letter) : 'Enter your cover letter here...' %> <br>
  <%= f.hidden_field :job_id, value: @job.id %>
  <p>Please list two references below...</p> <br>
  <%= f.fields_for :references do |ref| %>
    <%= render partial: 'references/form', locals: {ref: ref} %>
  <% end %>
  <%= f.submit "Apply", class: "btn btn-default" %>
<% end %>
