<h2>Application for <%= @application.job.title %></h2>
<h3><%= @application.job.company %></h3> <br>
<% @application.references.each_with_index do |ref, index| %>
  <%= render partial: 'references/reference', locals: {ref: ref, index: index} %>
<% end %>
<h3>Cover Letter</h3>
<p><%= @application.cover_letter %></p>

<%= link_to "Withdraw Application", application_path(@application), method: 'delete' %>
